obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.ncrunchproject
*.ncrunchsolution
*.suo
*.cache
~$*
.vs
.vs/*
_NCrunch_*
*.user
*.backup

# MS Guideline
**/packages/*
!**/packages/build/
AssemblyInfo_Patch.cs