obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.suo
*.cache
~$*

src/Rebus.Tests/azure_connection_string.txt
*.ncrunchproject

*.ncrunchsolution

!tools/mongodb/bin
tools/mongodb/bin/*.pdb
