obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.ncrunchproject
*.ncrunchsolution
*.suo
*.cache
~$*
asb_connection_string.txt
sqs_connectionstring.txt
azure_storage_connection_string.txt