<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="input" errorQueue="error" workers="1" auditQueue="audit">
    <endpoints>
      <add messages="Rebus.Tests" endpoint="some_message_endpoint"/>
    </endpoints>
  </rebus>

</configuration>