<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <Rebus InputQueue="this.is.my.input.queue" Workers="5">
    <Endpoints>
      <add Messages="Rebus.Tests.Configuration.AnotherMessageType, Rebus.Tests" Endpoint="another_message_endpoint"/>
      <add Messages="Rebus.Tests" Endpoint="some_message_endpoint"/>
    </Endpoints>
  </Rebus>
  
  <log4net>
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="[%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="trace"/>
    </root>
  </log4net>

  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=.;integrated security=sspi;initial catalog=rebus_test"/>
  </connectionStrings>
</configuration>