<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="log4net" version="2.0.1" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RabbitMQ.Client" version="3.2.1" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2370" targetFramework="net40" />
  <package id="RavenDB.Database" version="2.0.2370" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="2.0.2370" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="structuremap" version="3.0.3.116" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="WindowsAzure.ServiceBus" version="2.2.3.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" targetFramework="net40" />
</packages>