<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.1.841" />
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="log4net" version="2.0.0" />
  <package id="mongocsharpdriver" version="1.3" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RabbitMQ.Client" version="2.8.1" />
  <package id="RavenDB.Client" version="1.0.960" />
  <package id="RavenDB.Database" version="1.0.960" />
  <package id="RavenDB.Embedded" version="1.0.960" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="Unity" version="2.1.505.0" />
  <package id="WindowsAzure.Storage" version="1.6" />
</packages>