<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="timeout" type="Rebus.Timeout.Configuration.TimeoutConfigurationSection, Rebus.Timeout"/>
  </configSections>

  <timeout inputQueue="rebus.timeout2.input" storageType="SQL" parameters="server=.;initial catalog=RebusTimeoutManager;integrated security=sspi"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>