<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="timeout" type="Rebus.Timeout.Configuration.TimeoutConfigurationSection, Rebus.Timeout"/>
  </configSections>

  <timeout inputQueue="rebus.timeout2.input" errorQueue="rebus.timeout2.error" storageType="SQL" 
           connectionString="server=.;initial catalog=RebusTimeoutManager;integrated security=sspi"
           tableName="timeouts" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>