<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    <section name="rebusGateway" type="Rebus.Gateway.RebusGatewayConfigurationSection, Rebus.Gateway" />
  </configSections>

  <rebus inputQueue="this.is.my.input.queue" errorQueue="this.is.my.error.queue" workers="5" address="10.0.0.9" maxRetries="6" timeoutManager="somewhere_else">
    <rijndael key="oA/ZUnFsR9w1qEatOByBSXc4woCuTxmR99tAuQ56Qko="/>
    <endpoints>
      <add messages="Rebus.Tests.Configuration.AnotherMessageType, Rebus.Tests" endpoint="another_message_endpoint"/>
      <add messages="Rebus.Tests" endpoint="some_message_endpoint"/>
    </endpoints>
  </rebus>

  <rebusGateway>
    <incoming listenUri="http://+:8080" destinationQueue="test.rebus.incoming"/>
    <outgoing listenQueue="test.rebus.outgoing" destinationUri="http://localhost:8081"/>
  </rebusGateway>

  <log4net>
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="[%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="trace"/>
    </root>
  </log4net>

  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=.;integrated security=sspi;initial catalog=rebus_test"/>
  </connectionStrings>
</configuration>