<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="rebus" type="Rebus.XmlConfig.RebusConfigurationSection, Rebus.XmlConfig" />
    </configSections>

    <rebus>
        <endpoints>
            <add messages="Rebus.XmlConfig.Tests.SomeExistingType, Rebus.XmlConfig.Tests" endpoint="another_message_endpoint" />
            <add messages="Rebus.XmlConfig.Tests" endpoint="some_message_endpoint" />
        </endpoints>
    </rebus>
</configuration>