<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  <rebus inputQueue="test.audit.input" errorQueue="test.audit.error" auditQueue="test.audit.audit"/>
</configuration>