<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rebusGateway" type="Rebus.HttpGateway.RebusGatewayConfigurationSection, Rebus.HttpGateway" />
  </configSections>

  <rebusGateway>
    <inbound listenUri="http://+:9005" destinationQueue="test.rebus.incoming" />
    <outbound listenQueue="test.rebus.outgoing" destinationUri="http://localhost:8081" />
  </rebusGateway>

</configuration>